<h2 class="s_title_1"><span class="s_secondary_color"><%= t("reviews_rating.write") %></span> <%= t("reviews_rating.a_review") %></h2>

<%= render 'form', { :review => @review, :product => @product } %>
<%= link_to(t('cancel_your_review'), "#", :class => "cancel-review", :rel => "nofollow,noindex") %>